# ble_project/target.config


# Cấu hình thiết bị mục tiêu để ứng dụng kết nối.

[Target]
# Tên loại thiết bị.Tên này phải khớp với một section trong devices.config
# Ví dụ: BloodPressureMonitor, WeighingScale
type = BloodPressureMonitor

# Địa chỉ MAC của thiết bị vật lý.
# Thay đổi thành địa chỉ thực tế  sau khi quét.
address = XX:XX:XX:XX:XX:XX